nav {
  height: 51px;
  background-color: #212121; }
  nav .hamburger {
    display: none; }
  nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-padding-start: 0;
       -moz-padding-start: 0;
            padding-inline-start: 0;
    margin: 0;
    padding: 13px 70px; }
    nav .menu .menu_item {
      border-right: 2px dotted black;
      padding-right: 34px; }
      nav .menu .menu_item:last-child {
        border: none; }
      nav .menu .menu_item .menu_link {
        color: white;
        font-size: 15px;
        font-weight: 300;
        text-decoration: none;
        -webkit-transition: 1s all;
        transition: 1s all; }
        nav .menu .menu_item .menu_link::after {
          content: "";
          display: block;
          height: 2px;
          width: 0%;
          background-color: orange; }
        nav .menu .menu_item .menu_link:hover {
          color: orange; }
          nav .menu .menu_item .menu_link:hover::after {
            width: 100%;
            -webkit-transition: 0.5s all;
            transition: 0.5s all; }

.subheader {
  position: relative;
  min-height: 85px;
  background: black;
  opacity: 0.5;
  z-index: 2; }
  .subheader .logoimg {
    max-width: 100%;
    margin-top: 17px; }
  .subheader .logotext {
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    color: #ffffff; }
  .subheader .order {
    width: 165px;
    height: 52px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    border: 3px solid rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
            box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    padding: 0;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); }
    .subheader .order:hover {
      background-image: none;
      background-color: green; }
  .subheader .call_info {
    margin-top: 15px;
    text-align: right; }
    .subheader .call_info .call_me {
      font-size: 12px;
      line-height: 14px;
      font-weight: 300;
      color: #ffffff;
      margin: 0; }
    .subheader .call_info .phone {
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffffF;
      text-decoration: none; }

.text {
  min-height: 844px;
  text-align: center;
  background: url(/src/img/mainbg.jpg) center center/cover no-repeat;
  color: white;
  z-index: 1; }
  .text .promo_header {
    margin-top: 144px;
    font-size: 56px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 40px; }
    .text .promo_header .pr_header {
      font-size: 32px;
      font-weight: 700; }
  .text .maintext {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; }
  .text .order {
    height: 69px;
    width: 265px;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 8px;
    margin-top: 117px;
    border: none; }
    .text .order:hover {
      background-image: none;
      background-color: green; }

.reasons {
  padding-top: 70px; }
  .reasons .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 35px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .reasons .blocks .reason_logo {
      padding-right: 25px; }
    .reasons .blocks .reason_text .reason_title {
      font-size: 17px;
      line-height: 21px;
      font-weight: 400;
      color: #1eacc7; }
    .reasons .blocks .reason_text .reason_subtext {
      font-size: 15px;
      line-height: 21px;
      font-weight: 300;
      color: #202020; }

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  width: 112px;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  background-color: black;
  text-align: center;
  margin: 0 auto; }

.label {
  margin-top: 27px;
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-align: center; }

.subtitle {
  padding: 25px 0 35px 0;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  color: #222222;
  text-align: center; }

.mobile {
  padding-top: 60px;
  min-height: 870px;
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
  margin-top: 65px; }
  .mobile .mobile_item {
    min-width: 320px;
    min-height: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .mobile .mobile_item .mobile_item_subtitle {
      display: block;
      font-size: 24px;
      line-height: 31px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
      width: 270px;
      height: 55px;
      text-align: center;
      margin-top: 90px; }
    .mobile .mobile_item_1 {
      background: url("../img/mobilebg1.png") center center/cover no-repeat; }
    .mobile .mobile_item_2 {
      background: url("../img/mobilebg2.png") center center/cover no-repeat; }
    .mobile .mobile_item_3 {
      background: url("../img/mobilebg3.png") center center/cover no-repeat; }
    .mobile .mobile_item_4 {
      background: url("../img/mobilebg4.png") center center/cover no-repeat; }
    .mobile .mobile_item_5 {
      background: url("../img/mobilebg5.png") center center/cover no-repeat; }
    .mobile .mobile_item_6 {
      background: url("../img/mobilebg6.png") center center/cover no-repeat; }
    .mobile .mobile_item .mobile_item_plus {
      display: block;
      height: 26px;
      width: 26px;
      margin-top: 75px; }
      .mobile .mobile_item .mobile_item_plus:hover {
        cursor: pointer; }

.black {
  padding-top: 70px;
  height: 500px;
  background: black; }
  .black .imgcar {
    margin-top: 57px;
    text-align: center; }

.label_1 {
  color: white; }

.advantages_1 {
  color: black;
  background-color: white; }

.subtitle_1 {
  color: white;
  text-align: center; }

.copybook {
  padding-top: 70px;
  min-height: 400px;
  background: url("../img/mobile_bg.png") center center/cover no-repeat; }
  .copybook .car {
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    color: #222222;
    margin-top: 159px;
    text-align: center; }

.require {
  padding: 70px 0 84px 0; }
  .require .require_block {
    margin: 33px 0; }
    .require .require_block_nmb {
      margin-bottom: 0; }
  .require_title {
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    color: #1ca8c3;
    margin-bottom: 22px; }
  .require_list {
    list-style-type: none; }
    .require_list .require_item {
      position: relative;
      font-size: 17px;
      line-height: 24px;
      font-weight: 300;
      color: #222222;
      margin-bottom: 19px; }
      .require_list .require_item::before {
        content: "";
        display: block;
        position: absolute;
        left: -32px;
        top: 2px;
        width: 22px;
        height: 22px;
        background: url("/src/img/blue_round.png") center center/cover no-repeat; }
  .require_descr {
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    color: #1ca8c3; }
  .require .warning .require_title {
    color: red; }
  .require .warning .require_item::before {
    background: url("/src/img/red_round.png") center center/cover no-repeat; }

.world {
  height: 717px;
  padding-top: 50px;
  background: url("/src/img/world.png") center center/cover no-repeat; }
  .world .cityes {
    display: block;
    font-size: 15px;
    line-height: 68px;
    font-weight: 400;
    text-transform: uppercase;
    color: #1fbad6;
    text-decoration: none;
    text-align: center;
    margin-top: 400px; }

footer .line {
  display: block;
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
  margin-top: 15px; }
footer .foot {
  list-style: none;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 35px; }
  footer .foot_item {
    padding-right: 40px; }
    footer .foot_item .foot_link {
      text-decoration: none;
      font-size: 15px;
      font-weight: 300;
      text-transform: uppercase;
      color: #070716; }
footer .subfooter {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 30px; }
  footer .subfooter_item {
    padding-right: 20px; }
    footer .subfooter_item .subfooter_link {
      text-decoration: none;
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
      color: grey; }
footer .languare {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1fbad6;
  text-align: center; }
footer .line2 {
  display: block;
  height: 8px;
  background-color: black;
  margin-top: 32px; }
footer .logo {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -120px; }
  footer .logo .logopng img {
    padding-right: 5px;
    height: 32px;
    width: 32px;
    cursor: pointer; }
footer .download {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1500px; }
  footer .download img {
    height: 27px;
    width: 100px;
    padding-right: 5px; }

@media (max-width: 1200px) {
  nav .menu .menu_item {
    padding-right: 20px; }
    nav .menu .menu_item .menu_link {
      font-size: 14px; }

  .text .promo_header {
    font-size: 40px; }
    .text .promo_header .pr_header {
      font-size: 25px; }

  .mobile .mobile_item {
    min-width: 290px;
    min-height: 273px; }

  footer .logo .logopng img {
    padding-right: 4px;
    height: 23px;
    width: 23px; }

  .subheader .order {
    -webkit-transform: translate(-30px, -15px);
            transform: translate(-30px, -15px); } }
@media (max-width: 991px) {
  .subheader .logoimg {
    margin-top: 23px; }
  .subheader .logotext {
    font-size: 10px; }
  .subheader .call_info .phone {
    font-size: 19px; }
  .subheader .order {
    width: 100%;
    height: 40px;
    -webkit-transform: translate(65px, -20px);
            transform: translate(65px, -20px); }

  nav .menu .menu_item {
    padding-right: 10px; }
    nav .menu .menu_item .menu_link {
      font-size: 10px; }

  .text .promo_header {
    font-size: 36px; }
    .text .promo_header .pr_header {
      font-size: 23px; }
  .text .maintext {
    font-size: 14px; }

  .reasons .blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .reasons .blocks .reason_logo {
      padding: 0;
      margin: 0 auto;
      margin-bottom: 5px; }

  .black .imgcar img {
    display: block;
    width: 100%; } }
@media (max-width: 767px) {
  nav .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 35%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1; }
    nav .menu_active {
      left: 0%; }
    nav .menu .menu_item {
      padding-right: 0;
      border: none;
      margin: 10px 0; }
      nav .menu .menu_item .menu_link {
        font-size: 15px; }
  nav .hamburger {
    display: block;
    position: absolute;
    right: 40px;
    top: 2%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px; }
    nav .hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      margin-bottom: 2px;
      background-color: white;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    nav .hamburger_active span {
      margin-bottom: -2px; }
      nav .hamburger_active span:first-child {
        -webkit-transform: translateY(3px) rotate(-45deg);
                transform: translateY(3px) rotate(-45deg); }
      nav .hamburger_active span:nth-child(2) {
        display: none; }
      nav .hamburger_active span:nth-child(3) {
        -webkit-transform: translateY(3px) rotate(45deg);
                transform: translateY(3px) rotate(45deg); }

  .subheader {
    z-index: 0; }
    .subheader .logoimg {
      margin-top: 30px; }
    .subheader .logotext {
      display: none; }
    .subheader .call_info {
      text-align: center;
      margin-top: 0; }
      .subheader .call_info .phone {
        font-size: 25px; }
      .subheader .call_info .call_me {
        display: none; }
    .subheader .order {
      font-size: 18px;
      -webkit-transform: translate(-8px, -20px);
              transform: translate(-8px, -20px); }

  .reasons .blocks .reason_text .reason_title {
    text-align: center; }
  .reasons .blocks .reason_text .reason_subtext {
    text-align: center; }

  .require_title {
    text-align: center; } }
@media (max-width: 575px) {
  nav .menu {
    width: 50%; }
    nav .menu .menu_item .menu_link {
      font-size: 11px; }

  .subheader .logoimg {
    margin-top: 5px;
    display: block;
    width: 200px;
    height: 25px;
    margin: 0 auto; }
  .subheader .logotext {
    display: none; }
  .subheader .call_info {
    text-align: center;
    margin-top: 0; }
    .subheader .call_info .phone {
      font-size: 17px; }
    .subheader .call_info .call_me {
      display: none; }
  .subheader .order {
    display: block;
    font-size: 15px;
    margin-top: -10px;
    width: 160px;
    height: 30px;
    border-radius: 4px;
    margin: 0 auto; }

  .promo_header {
    font-size: 20px; }
    .promo_header .pr_header {
      font-size: 18px; } }

/*# sourceMappingURL=style.css.map */